<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <title>夯嬤集團</title>

    <script>
    var rowCounter = 1;
    // 计算总金额并将其显示在总金额输入框中
    function calculateTotalAmount() {
        var totalAmount = 0;
        var priceInputs = document.querySelectorAll('input[name^="pickles_price"]');
        for (var i = 0; i < priceInputs.length; i++) {
            var priceInput = priceInputs[i];
            if (priceInput.value !== "") {
                totalAmount += parseFloat(priceInput.value);
            }
        }
        document.getElementById('totalAmount').value = totalAmount.toFixed(2); // 保留两位小数
    }

    // 在添加和删除行时更新总金额
    function addRow() {
        // 创建一个新的表格行
        var newRow = document.createElement('div');
        newRow.className = 'mt-2 d-flex align-items-center justify-content-center';
        rowCounter++; // 递增行数
        var rowHtml = `
                    <div class="col-md-10">
                        <div class="row">
                            <span class="col-md-2 input-group-text text-center">名稱</span>
                            <input type="text" class="col form-control" placeholder="雞腿/肉片...." name="pickles_name${rowCounter}">
                        </div>
                        <div class="row">
                            <div class="col row">
                                <span class="col input-group-text text-center">數量</span>
                                <input type="number" class="col form-control" placeholder="" name="pickles_quantity${rowCounter}" min="0" step="1" pattern="[0-9]+">
                                <select class="form-select col" name="kind${rowCounter}">
                                    <option value="1">包</option>
                                    <option value="2">支</option>
                                    <option value="3">個</option>
                                    <option value="4">尾</option>
                                    <option value="5">塊</option>
                                    <option value="6">公克</option>
                                    <option value="7">台斤</option>
                                    <option value="8">公斤</option>
                                </select>
                            </div>
                            <div class="col row">
                                <span class="col input-group-text text-center">金額</span>
                                <input type="number" class="col form-control" placeholder="" name="pickles_price${rowCounter}" min="0" step="1" pattern="[0-9]+">
                            </div>
                        </div>
                    </div>
        `;

        newRow.innerHTML = rowHtml;

        // 将新行添加到表单内的容器中
        var container = document.getElementById('additionalRowsContainer');
        container.appendChild(newRow);

        calculateTotalAmount(); // 更新总金额
    }

    function deleteRow() {
        // 删除最后一个表格行
        var container = document.getElementById('additionalRowsContainer');
        var rows = container.querySelectorAll('.mt-2.d-flex');
        if (rows.length > 0) {
            container.removeChild(rows[rows.length - 1]);
            rowCounter--;//減行數量
            calculateTotalAmount(); // 更新总金额
        }
    }

    // 在页面加载时计算一次总金额
    window.onload = function () {
        calculateTotalAmount();
    };
    </script>
    <script>// 新的JavaScript函数用于重新计算总金额
        function recalculateTotalAmount() {
        calculateTotalAmount(); // 调用现有的计算总金额函数
        }
    </script>

</head>
<body>
    <div class="bg-dark">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-md-2">
                <img src="{{url_for('static', filename='images/Background.jpg') }}" width="320px" height="140px">
            </div>
            <div class="col-md-4 text-center text-wrap">
                <a href="/all_list" class="h2 text-white text-decoration-none">購買清單</a>
            </div>
            <div class="col-md-4 text-center">
                <a href="/ins" class="h2 text-white text-decoration-none">新增購買紀錄</a>
            </div>
            <div class="col-md-2 text-right">
                <a href="/logout" class="h5 text-white text-decoration-none">登出</a>
            </div>
        </div>
    </div>
    {% block bodyarea %}
    <form  method = "post">
        {% if succ_msg %}
        <div class="alert alert-success alert-dismissible fade show text-center">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <strong>恭喜!</strong>{{succ_msg}}
        </div>
        {% endif %}
        {% if errmsg %}
        <div class="alert alert-danger alert-dismissible fade show text-center">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <strong>注意!</strong>{{errmsg}}
        </div>
        {% endif %}
        <div class="container-fluid d-flex align-items-center justify-content-center">
            <div class="shadow p-3 mb-5 rounded col-md-9 bg-success text-dark bg-opacity-10">
                <h1 class="text-center mt-3">購買清單</h1>
                <div class="mt-2 d-flex align-items-center justify-content-center">
                    <div class="col-md-10">
                        <div class="row">
                            <span class="col-md-2 input-group-text text-center">名稱</span>
                            <input type="text" class="col form-control" placeholder="雞腿/肉片...." name="pickles_name1">
                        </div>
                        <div class="row">
                            <div class="col row">
                                <span class="col input-group-text text-center">數量</span>
                                <input type="number" class="col form-control" placeholder="" name="pickles_quantity1" min="0" step="1" pattern="[0-9]+">
                                <select class="form-select col" name="kind1">
                                    <option value="1">包</option>
                                    <option value="2">支</option>
                                    <option value="3">個</option>
                                    <option value="4">尾</option>
                                    <option value="5">塊</option>
                                    <option value="6">公克</option>
                                    <option value="7">台斤</option>
                                    <option value="8">公斤</option>
                                </select>
                            </div>
                            <div class="col row">
                                <span class="col input-group-text text-center">金額</span>
                                <input type="number" class="col form-control" placeholder="" name="pickles_price1" min="0" step="1" pattern="[0-9]+">
                            </div>
                        </div>
                    </div>
                </div>
                <div id="additionalRowsContainer">
                    <!-- 新表格行将在此处添加 -->
                </div>
                <div class="mt-2 d-flex align-items-center justify-content-center">
                    <button type="button" class="btn btn-outline-primary" onclick="addRow()">
                        <img src="{{url_for('static', filename='images/add.png') }}" width="24px" height="24px" alt="增加欄位"></button>
                    <button type="button" class="btn btn-outline-danger mx-3" onclick="deleteRow()">
                        <img src="{{url_for('static', filename='images/minus.png') }}" width="24px" height="24px" alt="刪除欄位">
                    </button>
                </div>
                <div class="total-amount mt-3 row text-center">
                    <span class="text-success input-group-text col-md-2">總金額:</span>
                    <input type="text" class="form-control col" id="totalAmount" readonly>
                    <button type="button" class="btn btn-outline-secondary col-auto" onclick="recalculateTotalAmount()">
                        <img src="{{url_for('static', filename='images/load.png') }}" width="24px" height="24px" alt="重新計算">
                    </button>
                </div>
                <!-- <div class="mt-2 d-flex align-items-center justify-content-center">
                    <button type="button" class="btn btn-outline-secondary" onclick="recalculateTotalAmount()">重新計算</button>
                </div> -->
                <div class="mt-5 d-flex align-items-center justify-content-end">
                    <button type="submit" class="btn btn-success">儲存/Submit</button>
                    <a type="button" class="btn btn-danger text-white mx-3" href="/">取消/Cancel</a>
                </div>
            </div>
        </div>
    </form>
    {% endblock bodyarea %}
</body>

</html>