{% extends 'insert.html' %}
{% block bodyarea %}
<div class="container-fluid d-flex align-items-center justify-content-center shadow">
    <div class ="bg-success p-2 text-dark bg-opacity-10 col-md-8 rounded mb-5 mt-5">
        <form method ="post">
            {% if errmsg %}
            <div class="alert alert-danger alert-dismissible fade show text-center">
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                <strong>注意!</strong>{{errmsg}}
            </div>
            {% endif %}
            <div class="mb-3 mt-3">
                <label for="email" class="form-label">手機號碼</label>
                <input type="text" class="form-control" id="phone" placeholder="請輸入手機號碼" name="phone"
                value="{% if request.method == "POST" %}{{request.form.phone}}{% endif %}">
            </div>
            <div class="mb-3">
                <label for="pwd" class="form-label">密碼</label>
                <input type="password" class="form-control" id="pwd" placeholder="yyyymmdd" name="pswd">
            </div>
            <div class ="mt-5 mb-3">
            <button type="submit" class="btn btn-primary">註冊/Sumbit</button>
            <a type="bottom" class="btn btn-danger mx-3" href="/">取消/Cancel</a>
            </div>
        </form>
    </div>
</div>








{% endblock bodyarea %}

